Temp/*
Library/*
Build/*
Assembly-CSharp-Editor-vs.csproj

Assembly-CSharp-Editor-vs.csproj

Assembly-CSharp-Editor.csproj

*.csproj

tango-doodle-csharp.sln

tango-doodle.sln

tango-doodle-csharp.sln

tango-doodle.sln

Assets/LFL/Doodle/MainScene1.unity

Assets/LFL/Doodle/MainScene1.unity.meta

tango-doodle.userprefs
