Temp/*
Library/*
Build/*
Assembly-CSharp-Editor-vs.csproj

Assembly-CSharp-Editor-vs.csproj

Assembly-CSharp-Editor.csproj

*.csproj

tango-doodle-csharp.sln

tango-doodle.sln

tango-doodle-csharp.sln

tango-doodle.sln
